h1 Editar produto

form(method="POST", action=`/produtos/${produto.id}?_method=PUT`)
  .form-group
    label(for="nome") Nome
    input.form-control#nome(type="text", name="nome", value=produto.nome, required)

  .form-group
    label(for="descricao") Descrição
    input.form-control#descricao(type="text", name="descricao", value=produto.descricao, required)

  .form-group
    label(for="preco") Preço
    input.form-control#preco(type="number", name="preco", value=produto.preco, required)

  .form-group
    label(for="quantidade") Quantidade
    input.form-control#quantidade(type="number", name="quantidade", value=produto.quantidade, required)

  .form-group
    label(for="categoria") Categoria
    select.form-control#categoria(name="categoria", required)
      each categoria in categorias
        option(value=categoria.id, selected=produto.categoria == categoria.id) #{categoria.nome}

  button.btn.btn-warning(type="submit") Salvar
